@import '/src/styles/mixin.scss';

.wrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 30px;
  padding-top: 130px;
}

.innerWrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 20px;
}

.buttonWrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 12px;
}
