@import '/src/styles/fontWeights.scss';
@import '/src/styles/colors.scss';

.wrapper {
  color: $white;
  font-size: 1.6rem;
  font-weight: $light;

  // error
  &.errorMessage {
    text-align: center;
    font-size: 2rem;
    font-weight: $regular;
    color: $darkGray300;
  }

  // button
  &.button {
    font-size: 1.8rem;
    color: $buttonText;
    font-weight: $medium;
  }
  &.addButton {
    font-size: 1.4rem;
    color: $gray300;
    font-weight: $light;
  }

  // onBoarding
  &.intro {
    font-size: 2rem;
    font-weight: $regular;
    line-height: 2.7rem;
    color: $gray300;
  }
  &.inputExplain {
    font-size: 1.6rem;
    font-weight: $regular;
    color: $gray300;
  }
  &.registerExplain {
    font-size: 2.2rem;
    font-weight: $regular;
    color: $gray300;
  }

  // post
  &.userName {
    font-weight: $medium;
  }
  &.description {
    font-size: 1.4rem;
  }
  &.hashTag {
    color: $exerciseCount;
  }
  &.postingTime {
    font-size: 1.4rem;
    color: $gray400;
  }
  &.exerciseCompletedTime {
    font-size: 1.2rem;
    color: $gray300;
  }
  &.heartCount {
    font-weight: $regular;
  }
  &.commentUserName {
    font-size: 1.2rem;
    font-weight: $medium;
  }
  &.comment {
    font-size: 1.2rem;
  }
  &.commentCount {
    font-size: 1.4rem;
    color: $gray300;
  }
  &.commentHeartCount {
    font-size: 0.8rem;
  }
  &.hashtag {
    font-size: 1.4rem;
    color: $greenNeon;
  }
  &.searched {
    font-size: 1.4rem;
    color: $white;
    font-weight: $medium;
  }
  &.noPost {
    font-size: 2rem;
    font-weight: $regular;
    color: $darkGray300;
  }
  &.story {
    font-size: 1.4rem;
    font-weight: $regular;
    color: $gray100;
  }
  &.storyName {
    font-size: 1.1rem;
    font-weight: $medium;
    color: $story;
  }
  &.commentDate {
    font-size: 1rem;
    font-weight: $light;
    color: $darkGray100;
  }

  //records
  &.name {
    font-size: 1.2rem;
    font-weight: $medium;
  }
  &.value {
    font-size: 1.2rem;
    font-weight: $light;
  }
  &.modalTitle {
    font-size: 1.6rem;
    font-weight: $regular;
  }
  &.modalInfo {
    font-size: 1.2rem;
    font-weight: $light;
    line-height: 18px;
    color: #b7b9c2;
  }
  &.trackName {
    font-size: 1.8rem;
    font-weight: $light;
  }
  &.noExercise {
    font-size: 1.2rem;
    font-weight: $regular;
    color: $gray600;
    line-height: 18px;
    text-align: center;
  }
  &.directInput {
    font-size: 1.2rem;
    font-weight: $regular;
    color: $greenNeon;
    text-decoration: underline;
  }
}
