@import '/src/styles/mixin.scss';
@import '/src/styles/colors.scss';

.wrapper {
  @include flexCenter;
  flex-direction: column;
}

.nicknameWrapper {
  @include flexCenter;
  text-align: center;
  min-width: 240px;
  min-height: 24px;
  padding: 13px 8px;
  border-radius: 4px;
  background-color: $darkGray700;

  font-size: 2.2rem;
  color: #fafdff;
}
