@import '/src/styles/mixin.scss';

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: 14px 10px;
  gap: 33%;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
