@import '/src/styles/mixin.scss';

.wrapper {
  @include aFlexStart;
  flex-direction: column;
  margin: 21px 0 18px 0;
  padding: 14px;
  gap: 6px;
  width: 337px;
  border-radius: 14px;
  background: linear-gradient(
      126deg,
      rgba(46, 47, 48, 0.1) 10.29%,
      rgba(64, 246, 137, 0.1) 113.48%
    ),
    #2b2c2f;
}

.header {
  @include flexBetween;
  width: 312px;
}

.part {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content {
  @include flexBetween;
  width: 309px;
}
