@import '/src/styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userComment {
  display: flex;
  flex-direction: column;
}

.inWrapper {
  @include flexBetween;
}
