@import '/src/styles/mixin.scss';

.wrapper {
  @include flexBetween;
  gap: 10px;
}

.inWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.userWrapper {
  @include flexStart;
  gap: 10px;
}
