@import '/src/styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user {
  @include flexBetween;
  gap: 10px;
}

.userComment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}
