@import '/src/styles/fontWeights.scss';
@import '/src/styles/colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  color: $gray300;
  font-size: 1.35rem;
  font-weight: $medium;
}
