.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inWrapper {
  display: flex;
  gap: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
