$black: #000;
$white: #fefefe;
$background: #0c0d0d;

$count: #f1f2f3;
$story: #0c0d0d;

$border: #222;

$gray100: #ccced6;
$gray200: #bec5cf;
$gray300: #b7b9c2;
$gray400: #8b8e98;
$gray500: #848a97;
$gray600: #8e9098;
$gray700: #70767e;

$darkGray100: #6f7077;
$darkGray200: #6c7575;
$darkGray250: #4b4d54;
$darkGray300: #4c4e56;
$darkGray350: #36383e;
$darkGray400: #3a3d3e;
$darkGray500: #202124;
$darkGray600: #141516;
$darkGray650: #161719;
$darkGray700: #171819;

$buttonText: #1a1a1a;
$exerciseAdd: #151617;

$darkGreenNeon: #798c44;
$greenNeon: #c7f244;
$greenNeon100: #c7f640;

$pinkNeon: #b461c6;

$purpleBackground: #7a40f6;
$purpleNeon: #ab21ff;
$exerciseCount: #d15cff;

$kakao: #fee500;

$red: #ff453a;
