$black: #000;
$white: #fefefe;
$background: #111212;

$border: #222;

$gray200: #bec5cf;
$gray300: #b7b9c2;
$gray400: #8b8e98;
$gray500: #848a97;

$darkGray200: #6c7575;
$darkGray300: #4c4e56;
$darkGray350: #36383e;
$darkGray400: #3a3d3e;
$darkGray500: #202124;
$darkGray700: #171819;

$buttonText: #1a1a1a;

$darkGreenNeon: #798c44;
$greenNeon: #c7f244;
$greenNeonInput: #c7f640;

$pinkNeon: #b461c6;

$purpleNeon: #ab21ff;

$kakao: #fee500;
