@import '/src/styles/fontWeights.scss';

.small {
  font-size: 1.2rem;
  font-weight: $thin;
}

.medium {
  font-size: 1.6rem;
  font-weight: $medium;
}

.large {
  font-size: 2rem;
  font-weight: $bold;
}
