@import '@/styles/colors.scss';

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-family:
    'Pretendard',
    Apple SD Gothic Neo,
    serif,
    sans-serif;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  color: $white;
}

body,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
span,
p {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  all: unset;
}

input:focus {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  list-style: none;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.15s ease-in-out;
  }
}

:target {
  scroll-margin-block: 5ex;
}

.toast {
  font-size: 1.6rem;
}

.queryDevTool {
  font-size: 1.6rem;
}

body {
  .react-datepicker {
    border: none;
    .react-datepicker__header {
      padding: 0;
      border-radius: 0;
    }
    .react-datepicker__triangle {
      display: none;
    }
    .react-datepicker__month {
      width: 100%;
    }
    .react-datepicker__day--outside-month {
      cursor: default;
      visibility: hidden;
    }
    .react-datepicker__day-names {
      display: flex;
      justify-content: space-between;
      padding: 10px 43px 10px 50px;
      background-color: $background;
      .react-datepicker__day-name {
        color: $gray300;
        font-size: 16px;
      }
    }
  }
}
