.imageWrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  & button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }

  &.image {
    object-fit: cover;
    border-radius: 10px;
  }
}
