@import '/src/styles/mixin.scss';
@import '/src/styles/zIndex.scss';
@import '/src/styles/colors.scss';

.wrapper {
  @include flexBetween;
  position: sticky;
  top: 0;
  height: 54px;
  z-index: $aboveDefault;
}
