@import '/src/styles/mixin.scss';
@import '/src/styles/colors.scss';

.wrapper {
  @include flexCenter;
  gap: 56px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 392px;
  height: 75px;
  padding: 0 auto;
  border-top: 1px solid $border;
  background-color: $background;
  z-index: 2;
}
