@import '/src/styles/mixin.scss';

.wrapper {
  @include flexBetween;
  gap: 8px;
}

.inWrapper {
  display: flex;
  gap: 8px;
}

.reaction {
  display: flex;
  gap: 10px;
}

.comment {
  display: flex;
  flex-grow: 1;
}
