@import '/src/styles/mixin.scss';

@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.wrapper {
  @include flexCenter;
  gap: 5px;
  max-height: 25px;
  &.comment {
    flex-direction: column;
    gap: 0;
  }
}

.count {
  color: $count;
  font-size: 1.6rem;
  font-weight: $regular;

  &.comment {
    font-size: 1rem;
  }
}
