@import '/src/styles/fontWeights.scss';
@import '/src/styles/colors.scss';
@import '/src/styles/mixin.scss';

.wrapper {
  @include flexCenter;
  width: max-content;
  padding: 20px 30px;
  gap: 6px;
  border-radius: 100px;
  background: #161719;
}

.text {
  color: $gray600;
  text-align: center;
  font-size: 1.73rem;
  font-weight: $medium;
  caret-color: transparent;
}
