@import '@/styles/fontWeights';
@import '@/styles/colors';

.wrapper {
  display: flex;
  width: max-content;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 100px;
  background: #161719;
}

.text {
  color: $gray600;
  text-align: center;
  font-size: 1.8rem;
  font-weight: $medium;
  padding-top: 3.5px;
  caret-color: transparent;
}
