@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.wrapper {
  display: inline-flex;
  width: 100%;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  flex-shrink: 0;
}

.text {
  color: $darkGray300;
  font-size: 1.95rem;
  font-weight: $medium;
}
