@import '/src/styles/mixin.scss';
@import '/src/styles/colors.scss';

.wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid $border;
  gap: 18px;
}

.inWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.infoWrapper {
  display: flex;
  flex-grow: 0;
  gap: 26px;
}
