@import '/src/styles/mixin.scss';
@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.wrapper {
  @include flexBetween;
  height: 50px;
  border-bottom: 0.3px solid $border;
}

.settingName {
  font-size: 1.7rem;
  font-weight: $light;
  color: $count;

  &:visited {
    all: unset;
  }
}

.withDraw {
  font-size: 1.7rem;
  font-weight: $light;
  color: $red;
}
