@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.editor {
  all: unset;
  white-space: pre-line;
  word-wrap: break-word;
  background-color: $background;
  color: $count;
  font-size: 1.7rem;
  font-weight: $light;
}
