@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.editor {
  all: unset;
  white-space: pre-line;
  word-wrap: break-word;
  background-color: $background;
  color: $count;
  font-size: 1.7rem;
  font-weight: $light;
}
.wrapper {
  padding: 10px;
}
.hashtag {
  color: $exerciseCount;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: $light;
  padding: 5px;
}
