@import '/src/styles/colors.scss';

.wrapper {
  position: absolute;
  top: 0;
  left: 405px;

  display: grid;
  place-content: center;
  aspect-ratio: 1 /1;

  width: 44px;
  height: 100%;
  background: $red;
  overflow: hidden;
}
