@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';

.button {
  width: 90%;
  padding: 8px 10px;
  background: $darkGray500;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: $medium;
  color: $gray300;
  text-align: center;
}
