@import '/src/styles/colors.scss';
@import '/src/styles/fontWeights.scss';
@import '/src/styles/mixin.scss';

.wrapper {
  @include flexBetween;
  width: 100%;
  height: 58px;

  gap: 10px;
}

.img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  flex-shrink: 0;
}

.followWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.follow {
  font-size: 1.2rem;
  font-weight: $light;
  color: $gray600;
}

.name {
  width: 200px;
  font-size: 1.6rem;
  font-weight: $medium;
  color: $count;
}

.buttonWrapper {
  display: flex;
}

.accept {
  padding: 3px 10px;
  border-radius: 5px;
  background: #c7f640;
  color: #000;
}

.deny {
  padding: 3px 10px;
  border-radius: 5px;
  background: #161719;
}
