.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
