.wrapper {
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 20px;
  padding-top: 14px;

  &.UPPER {
    overflow-y: scroll;
  }

  &.LOWER {
    overflow-y: scroll;
  }

  &.WHOLE {
    overflow-y: scroll;
  }

  &.UPPER::-webkit-scrollbar {
    display: none;
  }

  &.LOWER::-webkit-scrollbar {
    display: none;
  }

  &.WHOLE::-webkit-scrollbar {
    display: none;
  }
}
