@import '@/styles/mixin.scss';
@import '@/styles/colors.scss';

.button {
  @include flexCenter;
  width: 353px;
  height: 60px;
  padding: 10px;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 8px;

  color: $buttonText;
  text-align: center;
  line-height: 150%;
}

.kakao {
  background: $kakao;
}

.google {
  background: $white;
}
