@import '/src/styles/colors';
@import '/src/styles/fontWeights';
@import '/src/styles/mixin';

.wrapper {
  @include flexCenter;
  flex-direction: column;

  width: 353px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 26px 70px;

  border: 1.5px solid rgba(199, 246, 64, 0.4);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);

  text-align: center;
  font-size: 1.4rem;
  line-height: 20px;
  color: $story;
}

.text {
  font-weight: $regular;
}

.boldText {
  font-weight: $bold;
}
